.example-8 {
    max-width: 500px;
    width: 100%;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
}
.example-8 * {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.example-8 fieldset {
    border: none;
    margin: 0 0 40px 0;
    padding: 0;
}
.example-8 .field + .field {
    margin-top: 18px;
}
.example-8 label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}
.example-8 input,
.example-8 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
}
.example-8 input {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #ffffff;
    color: #8a97a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.example-8 input:focus {
    border-color: #3273dc;
    -webkit-box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
    -moz-box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
    box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
    color: #363636;
}
.example-8 input:-webkit-autofill {
    -webkit-text-fill-color: #000;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
}
.example-8 input::-webkit-input-placeholder {
    color: #8a97a0;
}
.example-8 input::-moz-placeholder {
    color: #8a97a0;
}
.example-8 input:-ms-input-placeholder {
    color: #8a97a0;
}
.tab {
    display: block;
}
.tab {
    margin: 0;
    padding: 0;
}
.tab .tab-item {
    width: 100%;
    list-style: none;
}
.tab .tab-item + .tab-item {
    margin-top: 4px;
}
.tab .tab-item .tab-link {
    display: block;
    background: #8a97a0;
    padding: 11px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.tab .tab-item .tab-link:hover {
    background: #2C3E50;
}
.tab .tab-item .tab-link.is-active {
    background: #2C3E50;
}
.tab .tab-item img {
    margin-top: 4px;
    max-height: 18px;
}
.tab-content-item {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    width: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.tab-content-item.is-active {
    clip: auto;
    height: auto;
    margin: auto;
    opacity: 1;
    overflow: visible;
    padding: 20px 0;
    position: relative;
    width: auto;
}
.example-8 button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    border-radius: 4px;
    background: #23d160;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.example-8 button:hover {
    background: #20bc56;
    cursor: pointer;
}
.example-8 .rebilly-framepay {
    background: #ffffff;
    height: 40px;
    border: 1px solid #dbdbdb;
    padding: 0 10px;
    -webkit-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.example-8 .rebilly-framepay.rebilly-framepay-focus {
    border-color: #3273dc;
    -webkit-box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
    -moz-box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
    box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
}
.example-8 .rebilly-framepay.rebilly-framepay-buttons {
    border: none;
    box-shadow: none;
    padding: 0;
}
